<%- include('../customer/includes/head', {pageTitle: '에러'}) %>
</head>
<body>
    <%- include('../customer/includes/header') %> 
    <main>
        <h1>에러 발생!</h1>
        <p>문제가 생겼습니다. 잠시 후 다시 시도해주세요.</p>
        <p><a class="btn" href="/">홈으로</a></p>
    </main>
</body>
<%- include('../customer/includes/footer') %>