<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>

  </head>
  <body>
    <%- include('../includes/header') %>
    <main>
      <h1>Something went wrong!</h1>
      <p>
       Unfortunately, server error!
      </p>

    </main>
  </body>
</html>
