<aside id="side-drawer">
    <nav>
      <ul>
        <li>
          <a href="/posts">전체 게시글</a>
        </li>
        <li>
          <a href="/new-post">작성</a>
        </li>
      </ul>
    </nav>
  </aside>