<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: '잘못된 접속' }) %>
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>잘못된 접속</h1>
    <p>올바르지 않은 주소로 접속하셨습니다.</p>
    <a class="btn" href="/">홈으로</a>
  </main>
</body>

</html>