<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: '서버 장애 발생' }) %>
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>문제 발생</h1>
    <p>서버 장애가 생겼습니다. 관리자에게 문의해주세요.</p>
    <a class="btn" href="/">홈으로</a>
  </main>
</body>

</html>