<%- include('../includes/head', {pageTitle: '서대진의 쇼핑물'}) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('../includes/header') %> 
    <main>
        <h1>쇼핑 리스트</h1>  
        <p>상품 목록</p>
    </main>
</body>
<%- include('../includes/footer') %>